.homepage_container{
    display: grid;
    grid-template-columns: 33.33% 350px auto;

    border-color: aqua;
    transition: all 0.3s ease;
    height: 945px;

}

@media (max-width:1536px), (max-width: 2200px) {
    .homepage_container{
        height: 700px !important;
    }
    .chat-layout-responsive{
        height: 660px !important;
    }
    .chat-list-responsive{
        height: 730px !important;
    }
    .newfeed-responsive{
        height: 730px !important;
    }
    .logo-nav-big-screen{
        width: 45.5% !important;
    }
    /* .logo-nav-small-screen{
        width: 30.3% !important;
    } */
    .menu-big-screen{
        width: 45.4%!important;
    }
    /* .menu-small-screen{
        width: 30.2% !important;
    } */
    /* .chat-box-nav-responsive{
        width: 38.45% !important;
    } */
    div .responsive-main-profile{
        height: 730px;
    }
    /* .chat-box-nav2-responsive{
        width: 100%!important;
    } */
    .chat-bg{
        height: 660px;
    }
}

@media (max-width: 1400px) ,(max-width:1480px)
{
    .homepage_container{
        height: 600px !important;
    }
    .chat-layout-responsive{
        height: 530px !important;
    }
    .chat-list-responsive{
        height: 600px !important;
    }
    .newfeed-responsive{
        height: 600px !important;
    }
    .logo-nav-big-screen{
        width: 49.9% !important;
    }
    .logo-nav-small-screen{
        width: 33.2% !important;
    }
    .menu-small-screen{
        width: 33.2% !important;
    }
    .menu-big-screen{
        width: 49.9% !important;
    }
    .chat-box-nav-responsive{
        width: 40.7% !important;
    }
    .chat-box-nav2-responsive{
        width: 100%!important;
    }
    div .responsive-main-profile{
        height: 600px;
    }
    .chat-bg{
        height: 530px;
        width: 100%;
    }

    
}
.homepage_container_without_chat_room{
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: pink;
    border-color: aqua;
    transition: all 0.3s ease;
}

.scrollable::-webkit-scrollbar {
    display: none; 
    flex-direction: column-reverse;
}

.chat-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1; 
}

.chat-msg-container{
    display: flex;
    max-width: 90%;
    gap: 10px;
    align-items: center;
    position: relative;
}

.sender{
    align-items: flex-start;
}

.user{
    align-items: flex-end;
}

.profile-edit-box-overlay{
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    background-color: white;
    width: 600px;
    height: 430px;
    border-radius: 10px;
}

.home-cover {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.3;
    
}

.modal-content {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 90%;
  }
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999;
  }
  
@media (max-width: 1200px) , (max-width: 1300px) {
    ul .responsive-nav-button{
        padding-left: 10px;
        padding-right: 10px ;
    }
    div .responsive-post{
        width: 280px;
    }
    .post-tag .responsive-post-tag span{
        font-size: 12px;
    }
    .responsive-chatbox-column{
        width: 449px;
    }
    section .responsive-chatbox-search{
        width: 250px;
    }
    .chat-box-nav-responsive{
        width: 449px !important;
    }
    section .chat-box-nav2-responsive{
        width: 449px !important;
    }
    form .responsive-chatbox-messagebox{
        width: 300px;
    }
    div .responsive-post-box{
        width: 280px;
    }
    div .responsive-post-name-box{
        width: 280px;
    }
    .responsive-profile-button{
        margin-top: 15px;
    }
    div .responsive-profile-button-constainer{
        padding: 5px;
        gap: 4px;
    }
    section .responsive-profile-button-icon{
        width: 18px;
        height: 18px;
    }
    .responsive-time{
        font-size: 14px;
    }
    .chat-bg{
        height: 600px;
    }
    div .responsive-Toggle{
        width: 349px;
        height: 57px;
    }
  }

.hover\:float:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out ;
  }